/*
veriablts
*/
:root{
    --clr-gray1:hsl(209,61%,16%);
    --clr-gray5:hsl(210,22%,49%);
    --clr-gray10:hsl(210,36%,96%);
    --specing:0.1rem;
    --max-width:1170PX;
    --min-width:62PX;
    --clr-gold:#C59D5F;
    --clr-white:#ffffff;
    --radius:0.25rem;
    --transiton:  all 0.5s ;
}
/*
gobal 
*/
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI',sans-serif;
    background: var(--clr-gray10);
    color: var(--clr-gray1);
    line-height: 1.5;
    font-size: 0.875rem;
}
h1,h2,h3,h4{
    letter-spacing: var(--specing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25;
    color: var(--clr-gray5);
}
.search-container {
  margin: 10px;
}
.search-input{
  padding: 5px;
  font-size: 16px;
  
}
.search-button {
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (min-width:800px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }
    h1,h2,h3,h4{
        line-height: 1;
    }
}


/*
section
*/
.section{
    width: 90vw;
    margin: auto;
    max-width: var(--max-width);
}
@media screen and (min-width:992px) {
    .section{
        width: 95vw;
    }   
}

/*menu*/
.menu{
    padding: 2rem 0;
}
.title{
     text-align: center;
    margin-bottom:2rem ;
}
.underline{
    width:5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
}
.btn-container{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.filter-btn{
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transiton);
    border-radius: var(--radius);
    -webkit-transition: var(--transiton);
    -moz-transition: var(--transiton);
    -ms-transition: var(--transiton);
    -o-transition: var(--transiton);
}
.filter-btn:hover{
    background: var(--clr-gold);
    color: var(--clr-white);
}
.section-center{
    width: 90vW;
    margin: 0 auto;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    justify-content: center;
}
.menu-item{
    display: grid;
    gap: 1rem 2rem;
   
    max-width: 25rem;
}
.photo{
    object-fit: cover;
    height: 200px;
    width: 100%;
    
    border-radius: var(--radius);
    display: block;
}
.item-info header{
    display: flex;
    justify-content: space-between;
    border: 0.5px dotted var(--clr-gold);
}
.item-info h4 {
    margin-bottom: 0.5rem;
}

.item-text{
    margin-bottom: 0;
    padding-top: 1rem;
}

@media screen and (min-width:990px) {
    .menu-item{
        grid-template-columns: 220px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }
    .photo{
        height: 175px;
    }
    
}
@media screen and (min-width:1200px) {
    .menu-item{
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    
    }
    .photo{
        height: 150px;
    }
    
}
